body{
    overflow-x: hidden;
}

.cookieBox{
    width: 500px;
    height: 100px; 
    bottom: 12px;
    right: -500px;
    position: absolute;
    background-color: aquamarine;
    transition: all 2s ease;
}

.slideIn {
    transform: translateX(-520px);
}

.slideout{
    transform: translateX(520px);
}